services:
    kopia:
        image: kopia/kopia:latest
        hostname: ${KOPIA_HOSTNAME}
        container_name: Kopia
        restart: unless-stopped
        command:
            - server
            - start
            - --disable-csrf-token-checks
            - --address=0.0.0.0:51515
            - --tls-cert-file=/certs/ubuntu.cert
            - --tls-key-file=/certs/ubuntu.key
            - --server-username=${KOPIA_SERVER_USERNAME}
            - --server-password=${KOPIA_SERVER_PASSWORD}
        environment:
            # Set repository password
            KOPIA_PASSWORD: "${KOPIA_REPO_PASSWORD}"
            USER: "${KOPIA_USER}"
        volumes:
            # Mount local folders needed by kopia
            - kopia-config:/app/config
            - kopia-cache:/app/cache
            - kopia-logs:/app/logs
            # Mount local folders to snapshot
            - kopia-data:/data:ro
            # Mount repository location
            - kopia-repository:/repository
            # Mount path for browsing mounted snapshots
            - kopia-tmp:/tmp
            # Mount paths for certificates
            - /data/coolify/proxy/certs:/certs:ro
        labels:
            - "traefik.http.services.kopia.loadbalancer.server.port=51515"
