services:
    kopia:
        image: kopia/kopia:latest
        hostname: ${KOPIA_HOSTNAME}
        container_name: Kopia
        restart: unless-stopped
        command:
            - server
            - start
            - --disable-csrf-token-checks
            - --insecure
            - --address=0.0.0.0:51515
            - --server-username=${KOPIA_SERVER_USERNAME}
            - --server-password=${KOPIA_SERVER_PASSWORD}
        environment:
            # Set repository password
            KOPIA_PASSWORD: "${KOPIA_REPO_PASSWORD}"
            USER: "${KOPIA_USER}"
        volumes:
            # Mount local folders needed by kopia
            - /opt/kopia/config:/app/config
            - /opt/kopia/cache:/app/cache
            - /opt/kopia/logs:/app/logs
            # Mount local folders to snapshot
            - /opt/kopia/data:/data:ro
            # Mount repository location
            - /opt/kopia/repository:/repository
            # Mount path for browsing mounted snapshots
            - /opt/kopia/tmp:/tmp:shared
  
  
  
  
  